{% extends 'base.html' %}
{% block bodyblock %}
    <h1>{{ question.title }}</h1>
    <p>asked by - {{ question.asked_by.username }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ AnswerForm.as_p }}
        <input type="submit" value="Answer" />
    </form>
    <div class="answer-container">
        {% for answer in answers %}
        <div class="answer-item">
            <p>{{ answer.answer }}</p>
            <h4>{{ answer.answer_by.username }}</h4>
        </div>
        {% endfor %}
    </div>
{% endblock %}