{% extends 'base.html' %}
{% block bodyblock %}
{% load widget_tweaks %}

<nav class="navbar navbar-light bg-light justify-content-between">
    <a href="{% url 'home' %}" class="navbar-brand mr-4"><b style="color:#2ba977; margin-left: 10%;">Welcome
            {{ user.username }}</b></a>
    <a href="{% url 'logout' %}" class="navbar-brand mr-4"><b style="color:#2ba977; margin-left: 10%;"></b>
        <button type="button" class="btn btn-outline-success">Logout</button>
    </a>
</nav>
<br>
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="card">
            <header class="card-header">
                <h5>Ask your queries here</h5>
            </header>
            <article class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <label>Title</label>
                    {{ questionForm.title|add_class:"form-control"|attr:"placeholder:Enter the title" }}
                    <br>
                    <label>Description</label>
                    {{ questionForm.description|add_class:"form-control"|attr:"placeholder:Enter the description" }}
                    <br>
                    <label>Hashtag</label>

                    <select class="form-control" name="tag">
                        {% for tag in hashtags %}
                            <option value="{{ tag.tagname }}" >{{ tag.tagname }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-outline-success form-control">Post Question</button>
                </form>
            </article>
        </div>
    </div>
</form>
<br>

<div class="container">
    <div class="card">
        <header class="card-header">
            <h5>Search questions using hashtag</h5>
        </header>
        <article class="card-body">
            <form method="GET">
                <select name="tag" class="form-control">
                    {% for tag in hashtags %}
                        <option value="{{ tag.tagname }}" >{{ tag.tagname }}</option>
                    {% endfor %}
                </select>
                <br>
                <input class="btn btn-outline-success form-control" type="submit" value="search" />
            </form>
        </article>
    </div>
    <br>
</div>



{% for question in questionsList %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ question.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Asked by - {{ question.asked_by.username }}</h6>
            <p class="card-text">{{ question.description }}</p>
        </div>
    </div>
</div>
<br>
{% endfor %}


{% endblock %}